<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../../Content/bootstrap-theme.css">
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
</head>
<body>
<div ng-app="fareApp">
    <div id="container" class="container" ng-controller="fareController">
        <h2>Cab Fare</h2>
        <form name="fareform" novalidate class="app-form" ng-submit="submit()">
            <div class="form-group">                
                <label for="startdate1">Start Date</label>
                <input type="date" class="form-control" id="startdate1" style="max-width: 500px;" name="startdate" ng-model="ride.startdate" required />
                <span ng-show="fareform.startdate.$dirty && fareform.startdate.$error.required">Required</span>
                <small id="emailHelp" class="form-text text-muted" ng-show="fareform.startdate.$error.date">Invalid date.</small>
            </div>
            <div class="form-group">
                <label for="starttime1">Start Time</label>
                <input id="starttime1" type="time" class="form-control" style="max-width: 500px;" name="starttime" ng-model="ride.starttime" required/>
                <span ng-show="fareform.starttime.$dirty && fareform.starttime.$error.required">Required</span>
            </div>
            <div class="form-group">
                <label for="travel1">Miles traveled below 6mph</label>&nbsp;&nbsp;
                <input type="number" id="travel1" class="form-control" style="max-width:325px;" name="travel1" ng-model="ride.miles" required/>
                <small ng-show="fareform.miles.$dirty && meterForm.miles.$error.required">Required</small>
            </div>
            <div class="form-group">
                <label>Number of Minutes going above 6 mph or idle</label>
                <div num-valid name="minutes" ng-model="ride.minutes"></div>
                <small class="form-text" ng-show="fareform.minutes.$error.postive">Invalid input</small>
            </div>
            <fieldset class="form-group">
                <label>State</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="ride.state" name="stateRadios" id="stateRadios1" value="NewYork" ng-checked="true">
                        New York
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="ride.state" name="stateRadios" id="stateRadios2" value="Other">
                        Other
                    </label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary" ng-disabled="!fareform.$valid">Submit</button>
        </form>
        <div style="padding-top: 10px;" ng-show="cost">Total: ${{cost}}</div>
    </div>

</div>
    <script type="text/javascript" src="../../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/fare.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>
