<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../../Content/bootstrap-theme.css">
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
</head>
<body>
<div ng-app="fareApp">
    <div id="container" class="container" ng-controller="fareController">
        <h2>Cab Fare</h2>
        <form name="fareform" novalidate class="app-form" ng-submit="processForm()">
            <div class="row">
                <label>Start Date</label>
                <input type="date" name="startdate" ng-model="ride.startdate" required />
                <span class="error" ng-show="fareform.startdate.$dirty && fareform.startdate.$error.required">*</span>
                <span class="error" ng-show="fareform.startdate.$error.date">Invalid date</span>
            </div>
            <label>Start Time</label>
            <input type="time" name="starttime" ng-model="ride.starttime" required/>
            <span class="error" ng-show="fareform.starttime.$dirty && fareform.starttime.$error.required">*</span>
            <br/>
            <label>State: </label>
            <input type="radio" name="state" ng-model="ride.state" value="NewYork"/><label>New York</label>
            <input type="radio" name="state" ng-model="ride.state" value="Other"/><label>Other</label>
            <label>Number of Miles when going below 6 mph</label>
            <input type="number" name="miles" ng-model="ride.miles" required/>
            <span class="error" ng-show="fareform.miles.$dirty && meterForm.miles.$error.required">
                </span>
            <br>
            <label>Number of Minutes when idling or going above 6 mph</label>
            <div numbervalidate name="minutes" ng-model="ride.minutes"></div>
            <span class="error" ng-show="meterForm.minutes.$error.number"> only numbers!</span>
            <br/>
            <button type="submit" ng-disabled="!fareform.$valid">Calculate</button>
        </form>
        <div ng-show="cost">Cost: ${{cost}}</div>
    </div>

</div>
    <script type="text/javascript" src="../../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/fare.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>
